<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Github Api Client</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
</head>
<body>
  <h1>Github Dashboard Sample</h1>
  <form class="col-lg-6 offset-lg-5" th:action="@{/searchUser}" method="get">
    <div class="col-sm-10">
      <input th:type="text" name="userName" th:maxlength="38" id="userName" placeholder="Enter Github Username"/>
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </form>
</body>
</html>